.nowa {
  .goCenter,
  .accesskey {
    display: none;
  }
  a:focus,
  .scrollToTop:focus {
    box-shadow: none;
  }
  .btn:focus,
  .header .qrcode_mpbtn a:focus,
  footer .footer_accessibility a:focus,
  .search_block .searchsystem .form_search input[type='submit']:focus,
  .advanced_search .advanced_block .searchsystem ul li a:focus,
  .advanced_search .advanced_block .btn_grp input[type='submit']:focus,
  .advanced_search .advanced_block a:focus,
  .search_blockin .searchsystem .select_left select:focus,
  .header .member_record .member_pic a:focus,
  .customization02 .search_blockin .form_search input[type='submit']:focus,
  .btnstyle.morebg:focus,
  .mainrightblock .book_detaildata .bookdata .listdata ul.no_icon li a.btnstyle:focus,
  .mystudycontent .mycardlist li a:focus,
  .mystudycontent .service_list ul li span a:focus,
  .booklist_block .booklist .bookmidblock ul li .addtagbtn:focus,
  .booklist_block .booklist .bookmidblock ul li .closebtn:focus,
  .tracking_subscription_block .searchsystem ul li a:focus,
  .mystudy_sdg_reading .SDG_banner .SDG_img a:focus,
  .linecontent .book-gallery .book .cover a:focus,
  .linecontent .book-gallery .book .cover a:focus img,
  .bookselection_block .bookselection_group .leftblock .bookselection_list ul li a:focus,
  .SDG_block .SDG_banner .SDG_img a:focus {
    box-shadow: none !important;
  }

  .featured_block .themebook2 ul li a:focus {
    box-shadow: none;
  }

  button:focus,
  input[type='button']:focus,
  input[type='submit']:focus,
  input[type='text']:focus,
  input[type='reset']:focus,
  input[type='file']:focus,
  input[type='tel']:focus,
  input[type='email']:focus,
  input[type='password']:focus,
  textarea:focus,
  select:focus {
    box-shadow: none !important;
  }
  .customization02 .search_blockin .form_search input[type='submit']:focus {
    background-color: #f0b209 !important;
  }
}
